body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background: linear-gradient(90deg, #4CAF50, #66BB6A);
    color: white;
    padding: 20px 0;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    font-family: 'Roboto Slab', serif;
}

h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-pic {
    border-radius: 50%;
    margin-right: 20px;
    width: 150px;
    height: 150px;
}

.text-info p {
    font-size: 1.2em;
}

section {
    margin-bottom: 40px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e0f7fa;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid #4CAF50;
    transition: background 0.3s;
}

ul li:hover {
    background: #b2ebf2;
}

a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #388E3C;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 2px 0;
    
    bottom: 0;
    width: 100%;
}
.currentTime{
font-weight:800;
 
}
#current-day{
    font-weight:700;
}
.text-info p{
    font-weight:600 ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(43, 42, 42);
}

@media (max-width: 768px) {
    .profile-info {
        flex-direction: column;
        text-align: center;
    }

    .profile-pic {
        margin: 0 0 20px 0;
    }

    footer {
        position: relative;
    }
}
